@page
@model EquipmentWatcher.Pages.Models.Interactions.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Interaction[0].Token)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Interaction[0].Timestamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Interaction[0].Result)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Interaction[0].Access)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Interaction) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Token)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Result)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Access.AccessID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.InteractionID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.InteractionID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.InteractionID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
