@page
@model EquipmentWatcher.Pages.Models.Permissions.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Permission[0].Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Permission[0].Account)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Permission) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account.Login)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PermissionID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PermissionID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PermissionID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
